<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Nuevo mensaje</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body class="bg-light">

<div th:replace="fragments/header :: header"></div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-header bg-success text-white">
          <h4 class="mb-0">Create Message</h4>
        </div>

        <div class="card-body">
          <form id="form-mensaje">

            <div class="mb-3">
              <label class="form-label">Recipient User</label>
              <input type="text"
                     id="nombre-usuario"
                     class="form-control"
                     placeholder="User name"
                     required>
            </div>


            <div class="mb-3">
              <label class="form-label">Title</label>
              <input type="text"
                     class="form-control"
                     id="titulo"
                     required
                     maxlength="70">
            </div>

            <div class="mb-3">
              <label class="form-label">Category</label>
              <input type="text"
                     class="form-control"
                     id="categoria"
                     required
                     maxlength="70">
            </div>

            <div class="mb-3">
              <label class="form-label">Message</label>
              <textarea class="form-control"
                        id="mensaje"
                        rows="4"
                        required
                        maxlength="1000"></textarea>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-success">
                Save Message
              </button>
            </div>
          </form>

          <div id="alerta" class="mt-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/crearMensaje.js}"></script>
</body>
</html>
