<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel Usuarios</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/headerAdmin :: headerAdmin"></div>

<div id="pantalla" class="container-fluid">

    <div id="zona_usuarios_crud">

        <h4 class="text-center mb-2">Gestión de Usuarios</h4>

        <div class="d-flex mb-3 gap-2 justify-content-center">
            <input type="text" id="buscarNombre" placeholder="Nombre del usuario" class="form-control" style="max-width:200px;">
            <input type="text" id="buscarEmail" placeholder="Email del usuario" class="form-control" style="max-width:200px;">
            <button id="btnBuscarUsuarios" class="btn btn-primary">Buscar</button>
            <button id="btnCrearUsuario" class="btn btn-success">Crear Usuario</button>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody id="tabla-usuarios-body">
            </tbody>
        </table>

    </div>

</div>

<script th:src="@{/js/panelUsuarios.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
