.navbar-nav .nav-link {
    position: relative;
    color: #333;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #0d6efd;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
    width: 100%;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #0d6efd;
}

.navbar-nav .nav-link.active-link {
    color: #0d6efd;
}

.navbar-nav .nav-link.active-link::after {
    width: 100%;
}

.navbar-nav .nav-link.admin-link {
    color: #dc3545;
}

.navbar-nav .nav-link.admin-link:hover,
.navbar-nav .nav-link.admin-link.active-link {
    color: #dc3545;
}

.navbar-nav .nav-link.admin-link:hover::after,
.navbar-nav .nav-link.admin-link.active-link::after {
    width: 100%;
    background-color: #dc3545;
}

#navbarAdmin .nav-link {
    color: white;
    transition: none;
}

#navbarAdmin .nav-link::after {
    display: none;
}

.navbar-nav .nav-link.admin-link {
    color: #dc3545;
}

.navbar-nav .nav-link.admin-link:hover,
.navbar-nav .nav-link.admin-link.active-link {
    color: #dc3545;
}

.navbar-nav .nav-link.admin-link:hover::after,
.navbar-nav .nav-link.admin-link.active-link::after {
    width: 100%;
    background-color: #dc3545;
}
