<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h2>Registrar usuario</h2>

<form th:action="@{/login/crearCuenta}" th:object="${usuario}" method="post">
  <input type="text" th:field="*{nombre}" placeholder="Nombre" required />
  <input type="email" th:field="*{email}" placeholder="Email" required />
  <input type="password" th:field="*{password}" placeholder="Contraseña" required />
  <button type="submit">Crear Cuenta</button>
</form>


<p th:if="${error}" th:text="${error}"></p>
<p th:if="${exito}" th:text="${exito}"></p>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
